# NextAuth — maxfiy kalit (kamida 32 belgi). Generatsiya: openssl rand -base64 32
NEXTAUTH_SECRET=your-random-secret-here
NEXTAUTH_URL=https://goldenweb.vercel.app

# Upstash Redis (foydalanuvchilar saqlanadi)
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
